
<section class="container-grid-games">
  {{#if games}}
  {{#each games}}

  <div class="card__game">
    
    <a href="/games/{{id}}">
      <img src="{{image}}" class="card__content-img"></img>
      <div class="card__content">
        <h2> {{name}} </h2>
        <p> {{description}} </p>
        {{#each public}}
        <label class="filters_public"> {{this}} </label>
        {{/each}}
      </div>
      <span> ver mas... </span>
    </a>
    <div class="card__footer">
      <div class="card__filters">
        <label class="filters_type">  {{type}} </label>
        <label class="filters_amount"> {{amount}} </label>
        <label class="filters_places"> {{places}} </label>
      </div>
      {{#if id_role}}
        <div class="card__btn">
          <a href="/games/modify/{{id}}" class="card__btn modify"> Editar </a>
          <a href="/games/delete/{{id}}" class="card__btn trash"> Eliminar </a>
        </div>
      {{/if}}
    </div>
  </div>

  {{/each}}

  {{else}}
  <div class="card__game">
    <h3>Aún no hay juegos agregados</h3>

  </div>

  {{/if}}
</section>