<section class="container cards">
  <div class="card__game">
    <h2 class="title"> {{g.name}} </h2> 
    <p> {{g.description}} </p>
     <p>{{g.type}}</p>
    <p>{{g.amount}}</p>
    <p>{{g.places}}</p> 
    {{#each g.public }}
      {{this}}
    {{/each }}
  </div>
  <div class="images">
    <h3>Algunas imagenes de {{g.name}} </h3>
    <img src="{{g.image}}" alt="imagen">
  </div>
</section>